.login__area{
    display: grid;
    place-items: center;
    height:140vh;
    width: 100%;
    background-color: #eff2f5;
    box-shadow: rgba(27, 31, 32, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 1px 2px 16px 1px;
}
.login__details{
    margin-top: -200px;
    height: auto;
    width: 40%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(27, 31, 32, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 1px 2px 16px 1px;

}
.login__logo{
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-top: 100px;
  z-index: -1;
}
.login__imageAreaCreate{
  align-self: center;
  text-align: center;
  color: #ffffff;
  z-index: 100;
  opacity: 1;
}
.login__imageAreaCreate>h2{
  margin-top: -50px;
  font-size: xx-large;
  font-weight: bolder;
  color:rgb(3,18,35, 1);
  z-index: 50;

}


.app__formLogin{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
  }

  
.error{
    color: red;
    margin-bottom: 10px;
  }
  .MuiTextField-root{
    margin-bottom: 10px !important;
    border: none !important;
    outline-width: 0 !important;
  }
  .MuiFormControl-root{
    margin-bottom: 10px;
    display: flex;
  }
  .login__nameDetails{
    display: flex !important;
    align-items: center;
    margin: 10px 5px 10px 0px !important;
    justify-content: space-evenly !important;

  }
  .login__email, .login__phoneNumber, .login__password, .login__confirmPassword, .login__firstName, .login__secondName{
    margin: 10px 30px 10px 30px !important;

  }
  .login__actionButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px 20px 20px;
  }
  .login__buttonBack, .login__buttonNext{
    flex:0.5 !important;
    margin: 0 0 0 20px;
  }
  .login__haveAccount{
    text-align: center;

  }

  .login__haveAccount>h6>a{
   margin-left: 10px;
   text-decoration: none;
   cursor: pointer;

  }

  .login__button{
    margin: 5px 30px !important;
  }

  /*media queries*/
  @media only screen and (max-width:768px){
    .login__area{
      width: 100%;
      height: auto;
      background-color: #fff;
      box-shadow: none;
  }
  .login__details{
    width: 100%;
    margin: 20px 20px;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    box-shadow:none

}
.app__formLogin{
  display: flex;
  flex-direction: column;
  margin: 10px;
  
}

.login__email, .login__phoneNumber, .login__password, .login__confirmPassword, .login__firstName,.login__secondName{
  margin: 10px 30px 10px 30px !important;

}

    

  }